.vscode/**
src/**
test/**
helpers/**
scripts/**
dist-helper/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
esbuild.mjs
esbuild-helper.mjs
vitest.config.ts
node_modules/**
AGENTS.md
pnpm-lock.yaml
pnpm-workspace.yaml
models/**
